<!doctype html>
<title>Suit Up</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Abel|Roboto+Slab" rel="stylesheet">
<div class=page>
    <h1>Suit Up</h1>
    <h2>Enter a link from Tommy Hilfiger.</h2>
    <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Submit">
    </form>
    <h2 class="error">{{ message }}</h2>
    <div id="query" class="{{ visibility }} item mid">
        <p class="name">{{ name0 }}</p>
        <p class="vector">{{ vector0 }}</p>
        <a href="{{ link0 }}"><img src="{{ img_link0 }}"></a>
    </div>

    {% for result in results %}
	    <div class="{{ visibility }} item {{ results[result][1]}}">
	        <div>
	            <p class="name">{{ result.name }}</p>
	            <a href="{{ result.link }}"><img src="{{ result.pic_link }}"></a>
	        </div>
	        <div>
	            <p class="description price">${{ result.price }}</p>
	            <p class="description">{{ result.description }}</p>
	            <p class="description">Cosine Value: {{ results[result][0] }}</p>
	            <p class="description">{{ result.vector }}</p>
	        </div>
	    </div>
  	{% endfor %}
    <div class="{{ footer_absolute }} footer">
        <p> © Choi, Wadhwa, Wang. 2017.</p>
    </div>
</div>